@font-face {
    src: url(/files/fonts/ChakraPetch-Regular.ttf);
    font-family: Chakra Petch;
    font-style: normal;
    font-weight: 400;
}

@font-face {
    src: url(/files/fonts/ChakraPetch-Italic.ttf);
    font-family: Chakra Petch;
    font-style: italic;
    font-weight: 400;
}

@font-face {
    src: url(/files/fonts/ChakraPetch-Light.ttf);
    font-family: Chakra Petch;
    font-style: normal;
    font-weight: 300;
}

@font-face {
    src: url(/files/fonts/ChakraPetch-LightItalic.ttf);
    font-family: Chakra Petch;
    font-style: italic;
    font-weight: 300;
}

@font-face {
    src: url(/files/fonts/ChakraPetch-SemiBold.ttf);
    font-family: Chakra Petch;
    font-style: normal;
    font-weight: 600;
}

@font-face {
    src: url(/files/fonts/ChakraPetch-SemiBoldItalic.ttf);
    font-family: Chakra Petch;
    font-style: italic;
    font-weight: 600;
}

@font-face {
    src: url(/files/fonts/Jura-Regular.ttf);
    font-family: Jura;
    font-style: normal;
    font-weight: 400;
}

@font-face {
    src: url(/files/fonts/Orbitron-Bold.ttf);
    font-family: Orbitron;
    font-style: normal;
    font-weight: 700;
}
