name: Build and deploy Vite & Vue project
on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 25.2.1

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Pnpm install
        run: pnpm install

      - name: Build project
        run: pnpm run build

      - name: Upload to server using SSH
        uses: appleboy/scp-action@v1.0.0
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          source: "www/*"
          target: "/home/${{ secrets.SSH_USER }}/xylobyte/public/"
          rm: true
